.postNavigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.postTitle {
    margin-top: 20px;
}

.postDate {
    display: block;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
}

.bottomSeparator {
    margin-bottom: 1.75rem;
}

.suggestAnEdit {
    color: #1e5f3b;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-decoration-color: black;
}

.blogContent {
    text-align: justify;
}
