.header {
    display: block;
    height: 300px;
    position: relative;
}

.top-image {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 100%;
}

.home-link {
    background-color: white;
    box-shadow: none;
    color: #2b8653;
    font-size: 18px;
    left: 0;
    padding: 4px;
    position: absolute;
    text-decoration: none;
    top: 0;
}

.title-container {
    background-color: white;
    display: inline-block;
    left: 7%;
    padding: 20px 50px;
    position: relative;
    top: 100px;
    vertical-align: middle;
}

.title {
    color: seagreen;
    margin: 0;
    text-decoration: none;
}

@media only screen and (max-width: 1015px) {
    .title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 750px) {
    .title {
        font-size: 1.2rem;
    }

    .title-container {
        margin-right: 14%;
    }
}
