.header {
    display: block;
    position: relative;
    border-bottom: 3px solid #258a7130;
}

.headerImage {
    max-width: 400px;
}

.topImage {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 100%;
}

.homeLink {
    background-color: white;
    box-shadow: none;
    color: #2b8653;
    font-size: 18px;
    left: 0;
    padding: 4px;
    position: absolute;
    text-decoration: none;
    top: 0;
}

.titleContainer {
    display: inline-block;
    left: 27%;
    margin-right: 30px;
    padding: 0;
    position: absolute;
    top: 120px;
    vertical-align: middle;
}

.title {
    color: white;
    margin: 0;
    text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1015px) {
    .title {
        font-size: 2.25rem;
    }
}

@media only screen and (max-width: 750px) {
    .title {
        font-size: 2rem;
    }

    .titleContainer {
        margin-right: 0;
        left: 10%;
    }
}
