.blogPostLink {
    box-shadow: none;
    color: seagreen;
    text-decoration: underline;
}

.blogPost {
    margin-bottom: 30px;
}

.blogPostList {
    padding-right: 50px;
}

.blogPostTitle {
    margin-bottom: 0.4375rem;
}
