.link {
    margin-top: 10px;
    display: inline-block;
}

.meTag {
    margin-top: 15px;
    font-size: 14px;
}

.linkIcon {
    cursor: pointer;
    height: 20px;
    vertical-align: text-bottom;
    width: 20px;
    margin: 0 3px 0 10px;
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
}

.linkIcon:hover {
    filter: invert(0.5) sepia(1) hue-rotate(100deg) saturate(4) brightness(1);
}
