.blogPostLink {
    box-shadow: none;
    color: seagreen;
    text-decoration: none;
}

.blogPostLink:hover {
    text-decoration: underline;
}

.blogPost {
    margin-bottom: 30px;
}

.blogPostList {
    padding-right: 50px;
}

.blogPostTitle {
    margin-bottom: 0.4375rem;
    font-weight: 200;
}

.recentPosts {
    color: #444;
}
